$Light: #ffffff !default;
$Light-100: #f8f8f8 !default;
$Light-300: #f0f0f0 !default;

$Dark: #333333 !default;
$Dark-200: #e0e0e0 !default;
$Dark-300: #bdbdbd !default;
$Dark-500: #828282 !default;
$Dark-700: #4f4f4f !default;

$Info-200: #f3fdff !default;
$Info-400: #afd4dd !default;
$Info-600: #43a6be !default;
$Info-800: #00718c !default;
$Info-900: #004556 !default;

$Success-900: #127d6b !default;
$Success-700: #209480 !default;
$Success-500: #21b39a !default;
$Success-300: #b7ebd2 !default;
$Success-200: #eefefb !default;

$Attention-700: #f4aa32 !default;
$Attention-500: #f6d523 !default;
$Attention-300: #ffedae !default;

$Error-700: #bc3b3b !default;
$Error-500: #eb5757 !default;
$Error-300: #ffcdcd !default;
